.loginWebView {
 -fx-border-width: 5;
 -fx-border-color: black;
 -fx-border-radius: 5;
}

.webCloseButton {
 -fx-border-width: 1;
 -fx-border-color: #f008;
 -fx-border-radius: 3 0 3 3;
 -fx-background-color: #f003;
 -fx-text-fill: red;
 -fx-padding: 0.1em 0.2em 0.1em 0.3em;
}

.headerFade {
 -fx-background-color: linear-gradient(#fffe 0%, #fffe 60%, #fff0 100%);
}

.sideFade {
 -fx-background-color: linear-gradient(to right, #fffe 0%, #fffe 95%, #fff0 100%);
}

.slideButton {
    -fx-padding: 0px;
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.slideButton:selected {
    -fx-padding: 0px;
    -fx-background-color: #3333;
    -fx-border-width: 0;
}

.tree-cell:filled:odd {
    -fx-background-color: -fx-control-inner-background-alt;
}

.tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:filled:selected:odd {
    -fx-background: -fx-selection-bar;
    -fx-table-cell-border-color: derive(-fx-selection-bar, 20%);
}

.tree-cell:filled:selected:odd {
    -fx-background: -fx-selection-bar-non-focused;
    -fx-table-cell-border-color: derive(-fx-selection-bar-non-focused, 20%);
}

.tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:focused {
    -fx-background-color: -fx-background, -fx-cell-focus-inner-border, -fx-background;
    -fx-background-insets: 0, 1, 2;
}
