.tx {
 -fx-background-color: #ff9900;
 -fx-border-color: #ff990088;
 -fx-border-width: 1px;
 -fx-border-radius: 4px;
 -fx-background-radius: 4px;
 -fx-padding: 4px
}

.tx:hover {
 -fx-border-color: black;
 -fx-border-width: 1px;
}